# example settings for config.py
# !place values without commas!

POSTGRES_USER=your_postgres_user
POSTGRES_PASSWORD=your_postgres_pass
POSTGRES_DB=your_postgres_db
OPENROUTER_API_KEY=your_openrouter_api_key
OPENROUTER_MODEL=your_openrouter_model

RABBITMQ_USER=your_rabbitmq_user
RABBITMQ_PASSWORD=your_rabbitmq_pass

GROQ_API_KEY=your_groq_api_key
GROQ_MODEL=your_groq_model
NEWS_API_KEY=your_news_api_key

TELEGRAM_BOT_TOKEN=placeholder_will_set_later
TELEGRAM_CHAT_ID=placeholder_will_set_later
